/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/public/metronic/*
/public/assets/dist/*
/public/assets/plugins/*
/public/assets/media/*
!public/js/
!public/css/
/storage
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
config/secure.php
.env
.env.dev
.env.prod
composer.lock
/nbproject/private/
